.time-row
    display: flex
    align-items: center
    padding: 4px 5px

    &.active
        background: linear-gradient(90deg, rgba(218, 206, 120, 1) 0%, rgb(205 229 83) 100%)
        color: #3a3839

        .title input
            color: #3a3839
            font-weight: 600

        .time-range input
            color: #3a3839
            font-weight: 600

    input.hover-fade-input
        box-sizing: border-box
        border-color: transparent
        border: 1px solid transparent
        border-radius: 2px
        background: transparent
        color: var(--main-text, pink)

        &:hover
            border-color: #bdbdbd9c
            border-width: 2px

    input
        &.edited
            color: #e45f5d

    .title
        flex: 1
        padding-right: 8px

        input
            width: 100%

    .sub-rows
        width: 33px

    .selection
        width: 30px

    .time-range
        width: 110px

        input
            width: 47px

    .duration
        width: 80px

    .buttons
        button
            width: 30px
            height: 30px