.task-adder
    display: flex
    flex-direction: column
    width: 800px

    .input-zone
        margin-bottom: 6px

        .task-input
            flex: 1
            margin-right: 14px
            font-size: 18px
            width: 100%
            background: #322f2f
            font-family: "figtree"
            color: var(--main-text)
            padding: 7px 5px
            box-sizing: border-box
            font-size: 23px
            border: 0
            border-radius: 5px

    .bottom
        display: flex

        .left
            .task-text
                color: #e79e81

            p
                margin: 0
                font-size: 15px

            h3
                margin: 0
                font-size: 33px
                font-weight: 400
                color: #e79e81

        .right
            display: flex
            justify-content: flex-end
            flex: 1

            button
                background: #272325
                color: var(--main-text)
                font-family: "figtree"
                border: 0
                border-radius: 7px
                width: 128px
                height: 51px
                font-size: 22px
                cursor: pointer
                margin-right: 8px

                &:hover
                    background: #362b21

                &:active
                    background: #895336
                    color: #f3f3f3