:global(body,html)
    margin: 0
    height: 100%
    width: 100%
    display: flex
    flex-direction: column
    overflow: hidden
    font-family: "figtree"

:global(body)
    padding-bottom: 10px
    background: #3a3839
    color: var(--main-text)

:global(input)
    font-family: "figtree"

:global(a)
    color: #88a2ff

    &:active
        color: #d0d9f8

:global(.theme)
    --main-text: #f1f1f1

.selection-info
    display: flex
    align-items: center
    justify-content: center
    width: 100%
    margin: 10px 0

    .wrap
        width: 55%

.controls
    padding: 18px
    display: flex
    align-items: center
    flex-direction: column

.time-table
    overflow: auto
    display: flex
    justify-content: center

    .inner
        width: 55%

    .day-header
        display: flex
        margin-top: 13px
        margin-bottom: 4px

        .title
            flex: 1

.global-control
    position: absolute
    right: 8px
    bottom: 6px