.container
    max-width: 40%
    margin: auto

.task-timer
    .task-text
        font-weight: 600

    h3
        font-size: 30px
        margin: 15px 0
        display: inline-block

    .stop-button
        font-size: 20px
        padding: 14px 40px
        display: inline-block

.task-adder
    .task-input
        font-size: 18px

    .start-button
        font-size: 18px
        width: 90px